.band-photo{
  margin-top: 1.7rem;
}

.date{
  display: flex;

    text-align: right;
}

.date h2{
  font-size: 45px;
  padding: 1rem;
}

.text-left {

    text-align: right;
}

.date div{
  padding: 1rem 0;
}

.footer{
  background-color: var(--launi_gray);
  background-size: cover;
  text-align: center;
  padding: 2rem 20%;
  color: white;
}

.footer p, link{
  text-align: center;
}

.gig-button{
  text-align: right;

}

.keikat p{
  text-align: center;
  margin: 0;
  padding: 0;
}

.keikat .row{
  padding: 0.5rem;
}

.flower-inverse{
  background-image: url("../resources/Flower-inverse.png");
  background-size: cover;
}

.splash-container{
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: auto;

  position: relative;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display:flex;
  margin: auto;
  vertical-align: middle;
}

.splash-video{
  background-image: url("../images/splash.jpg");
  background-position: center;
  width: 100%;
  height: 100vh;

  position: relative;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display:flex;
  margin: auto;
  vertical-align: middle;
}

.video-button {
  position: absolute;
  text-align: center;
  margin-bottom: -20%;
}
