@font-face {
  font-family: "kaoly";
  src: url(./assets/Kaoly-Regular.ttf);
}

h1{
  font-family: "kaoly";
  font-size: 55px;
  color: #ffffff
}

h2{
  font-family: "kaoly";
  font-size: 24px;
  color: #ffffff;
  padding: 1rem;
}

.App {
  text-align: center;
  background-color: #040500;
  width: 100%;
  margin:0;
}

.col{
  padding: 0;
  text-align: center;
}

.logo {
  width: 70%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p{
  text-align: left;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  color: #ffffff
}

.link{
  text-decoration: underline;
  color: #ffffff;
}

.footer{
  text-align: center;
  padding: 5% 10%;
  line-height: 2;
  color: white;
}

.footer p{
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about{
  margin: 5% 10%;
}

.App-link {
  color: #61dafb;
}

.nav {
  justify-content: center;

}
.splash{
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 668px;
  width: 100%;
  }

.social-media{
  text-align: right;
  margin: 1000;
}

.spotify{
  position: absolute;
  display: flex;
  bottom: 0;
  border-radius:12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
